
main{
    background-image: url(./images/Object.png);
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* align-items: center; */
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.navbar a{
    text-decoration: none;
    margin-right: 30px;
}


.banner{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.big-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.big-banner h1{
    font-size: 100px;
    margin-bottom: 0px;
    font-weight: 70px;
}

.minor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.minor h5{
    margin-top: 0px;
    margin-right: 30px;
}

button{
    height: 40px;
    border-radius: 5%;
    box-shadow: 0px 2px 20px 0px #00000080;
    background-color: #c271ff;
    border-radius: 10px;
    /* justify-content: center; */
}

.tutor{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person {
    margin-right: 100px;
}

.person img{
    border-radius: 50%;
}

.tutors h2{
    /* margin-right: 500px; */
    font-size: 30px;
    margin-bottom: 90px;
}
.tutors span {
    color: #c271ff;
}

.video span{
    color: #c271ff;
    
}

.membership span{
    color: #c271ff;

}

.tutors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.quote{
    background-color: #c271ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.quote span{
    font-weight: 100px;
}

.blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-section{
    margin-left: 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}


.timer{
    float: right;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.author img{
    margin-right: 5px;
    height: 30px;
}

.video{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}



.video-block{
    /* border: 1px solid blue; */
    margin-right: 40px;
}

.checked{
    color: #C271FF;
}

.membership{
    background-color: #071629;
    width: 100%;
    height: 502px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership button{
    margin-top: 30px;
}



.members{
    width: 100%;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq-main{
    height: 707px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-block h3{
    font-weight: bolder;
    
}

.faqs h1{
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
    font-size: 50px;
}


.big-faq{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* flex-wrap: wrap; */
}

.row-block{
    width: 40%;
    height: 300px;
    /* border: 1px solid blue; */
}


footer{
    /* width: 100%; */
    height: 249px;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.topside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.bottom{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}

